a.logo {
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 900;
	letter-spacing: 0em;
	color: black;
	text-decoration: none;
	padding-bottom:1rem;
	padding-top:1rem;
}

a[type="button"].btn.btn-secondary {
	background-color: black;
}

	
small.logo-title {
	font-size: 1.3rem;
	line-height: 38px;
	font-weight: 700;
	font-style: normal;
	padding-bottom:50px;
}


.sidebar {
	height: 100%;
	width: 20%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color:white;
	overflow-x: hidden;
	padding-left: 1rem;
  }


.navbar-item {
	padding-left: 1rem;
	font-size:1em;
  }

.nav-link {
	color:black;
	text-decoration: none;
}

#logout.nav-link{
	color:red;
}

body {
	padding-left:20%;
	padding-top:1rem;
}

h1.error {
	color:red;
	font-size:100pt;
	font-weight:900;
	text-align:right;
}

h2.error{
	color:red;
	font-size:50pt;
	font-weight:900;
	text-align:right;
}

h1.title{
	color:black;
	font-size:2em;
	font-weight:800;
}