{% extends 'layout.html' %}

{% block content %}
<div>
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend>{{ title }}</legend>
			<div>
				{{ form.email.label(class="form-control-label") }}
				<!-- Begin invalid form -->
				{% if form.email.errors %}
					{{ form.email(class="form-control form-control-lg is-invalid") }}
					<div class='invalid-feedback'>
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				<!-- End invalid form -->
				{% else %}
					{{ form.email(class="form-control form-control-lg") }}
				{% endif %}
			</div>
		</fieldset>
		<p></p>
		<div>
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
		<div>
			<small class="text_muted">
				<a href="{{ url_for('accounts.register') }}">Need an account?</a>
			</small>
		</div>
	</form>
</div>
{% endblock content %}