{% extends 'layout.html' %}

{% block content %}
<div>
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend>{{ title }}</legend>
			<div>
				{{ form.password.label(class="form-control-label") }}
				<!-- Begin invalid form -->
				{% if form.password.errors %}
					{{ form.password(class="form-control form-control-lg is-invalid") }}
					<div class='invalid-feedback'>
						{% for error in form.password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				<!-- End invalid form -->
				{% else %}
					{{ form.password(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div>
				{{ form.confirm_password.label(class="form-control-label") }}
				<!-- Begin invalid form -->
				{% if form.confirm_password.errors %}
					{{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
					<div class='invalid-feedback'>
						{% for error in form.confirm_password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				<!-- End invalid form -->
				{% else %}
					{{ form.confirm_password(class="form-control form-control-lg") }}
				{% endif %}
			</div>
		</fieldset>
		<p></p>
		<!-- TODO: Fix button alignment -->
		<div>
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
	</form>
</div>
{% endblock content %}