{% extends 'layout.html' %}

{% block content %}

	<h1>{{ project.title }} | {{ project.id }}</h1>
	<p>Contributors:
	{% for contributor in project.contributors %}
		{{ contributor }}
	{% endfor %}</p>
	<p>Created on {{ project.date.strftime('%A, the %dth of %B %Y') }}</p>
	<p>Last updated on</p> 
	{{ project.content|markdown }}

	

	<!-- TODO: Include tags -->
	<!-- TODO: Implement rich text -->
	<!-- TODO: Update -->
	<!-- TODO: Delete -->
	<!-- TODO: Formatting -->
	<!-- TODO: 'Last updated on' -->
{% endblock content %}
