{% extends 'layout.html' %}

{% block content %}

	<h1>{{ project.title }} | {{ project.id }}</h1>
	<p>Contributors:
	{% for contributor in project.contributors %}
		{{ contributor }}
	{% endfor %}</p>
	<p>Published on {{ project.date.strftime('%A, the %dth of %B %Y') }}
		under <a href="{{ license['html_url'] }}">{{ license['name'] }}</a></p>
	{{ project.content|markdown }}
	<h3>README</h3>
	{{ readme|markdown }}


	

	<!-- TODO: Include tags -->
	<!-- TODO: Implement rich text -->
	<!-- TODO: Update button -->
	<!-- TODO: Delete button -->
	<!-- TODO: Template formatting -->
	<!-- TODO: 'Last updated on' -->
{% endblock content %}
